.loading-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
}
.rolling{
    width: 24px;
    height: 24px;
    border: 4px solid #8c9ffd;
    border-top-color: transparent;
    border-radius: 50%;
    animation: roll 1s infinite linear;
}

@keyframes roll {
    to{
        transform: rotate(360deg);
    }
}