/* General button styles */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-image: url('../assets/background.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
}
.appLogo {
    width: 50px; /* Adjust size as needed */ 
  }
.discord-button {
    padding: 10px 15px;
    background-color: #8c9ffd;
    color: #fff;
    border: 2px solid #8c9ffd;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
    cursor: pointer;
    justify-content: center;
    align-items: center;
    font-family: "Lucida Sans", Geneva, Verdana, sans-serif;
    font-size: 14px;
    gap: 8px;
    border-radius: 4px;
    transition: background-color 0.3s;
  }
  
  .discord-button:hover {
    background-color: #7a8ceb;
  }
  
  .form-container {
    background-color: white;
    width: 70%;
    max-width: 450px;
    transform: translate(0,10rem);
    margin: 0 auto;
    padding: 20px ;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
    text-align: center;
    border-radius: 12px;
  }
  
  /* Error message styles with shake effect */
  .error-message {
    background-color: red;
    color: black;
    font-size: 13px;
    margin-top: 15px;
    animation: shake 0.3s ease;
    display: none;
  }
  
  @keyframes shake {
    0%, 100% { transform: translateX(0); }
    20%, 60% { transform: translateX(-8px); }
    40%, 80% { transform: translateX(8px); }
  }

/* Responsive Design Adjustments */

/* Tablet screens (max-width: 992px) */
@media only screen and (max-width: 992px) {
  .form-container {
    width: 90%;
    max-width: 100px;
    padding: 10px;
  }
}

/* Large desktops (min-width: 1200px) */
@media only screen and (min-width: 1200px) {
  .form-container {
    width: 35%;
    max-width: 360px;
    padding: 10px;
  }
}

/* Laptops (max-width: 1199px) */
@media only screen and (max-width: 1199px) {
  .form-container {
    width: 40%;
    max-width: 350px;
    padding: 15px;
  }
}

/* Small screens (max-width: 767px) */
@media only screen and (max-width: 767px) {
  .form-container {
    width: 70%;
    max-width: 750px;
    padding: 15px;
    margin: 0 auto;
  }
}

/* Smaller screens (max-width: 700px) */
@media only screen and (max-width: 700px) {
  .form-container {
    width: 70%;
    max-width: 750px;
    margin: 0 auto;

  }
}
  